@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: hidden;
  }
}

/* Animación de Carrusel Infinito (Marquee hacia la izquierda) */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 90s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

/* Ocultar barra de desplazamiento en carrusel móvil */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}